biblioteca3_definiciones.dtd

<!ELEMENT biblioteca (libro+)>
<!ELEMENT libro ( titulo, autor, fechaPublicacion)>
<!ELEMENT titulo (#PCDATA)>
	<!ATTLIST titulo
		numPaginas CDATA "5">
<!ELEMENT autor (#PCDATA)>
	<!ATTLIST autor
		fechaNacimientoAutor CDATA #IMPLIED>
<!ELEMENT fechaPublicacion EMPTY>
    <!ATTLIST fechaPublicacion
        anho CDATA #REQUIRED>